<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add the permission here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ras_icon_with_bg"
        android:label="@string/app_display"
        android:roundIcon="@mipmap/ras_icon_with_bg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resourceallocationsystem"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <!-- AuthActivity without intent-filter -->
        </activity>

        <activity
            android:name=".Register"
            android:exported="true">
            <!-- Register activity without intent-filter -->
        </activity>

        <activity
            android:name=".Dashboard"
            android:exported="true">
            <!-- Dashboard activity without intent-filter -->
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="true">
            <!-- About activity without intent-filter -->
        </activity>
        <activity
            android:name=".ResourceActivity"
            android:exported="true">
            <!-- Resources activity without intent-filter -->
        </activity>
        <activity
            android:name=".CourseActivity"
            android:exported="true">
            <!-- Courses activity without intent-filter -->
        </activity>
        <activity
            android:name=".ResetActivity"
            android:exported="true">
            <!-- Reset activity without intent-filter -->
        </activity>
        <activity
            android:name=".ThemeActivity"
            android:exported="true">
            <!-- Theme activity without intent-filter -->
        </activity>
    </application>

</manifest>
